# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Streamlit Secrets
# =========================
.streamlit/secrets.toml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Build Files
# =========================
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/